<div class="container">

    <div>
        <h1 class="hero">Who We Are:</h1>
        <p id="about">If you're thinking of becoming a first-time pet owner or you're adding another addition to your furry family - we
            can help! So often, people want to adopt pets in need, but dont know where to begin. Pick-A-Pet teams up with
            reputable animal adoption agencies in Southern California and Oregon that make owning a pet easy! From the adoption
            process and beyond, Pick-A-Pet approved shelters will have your solutions. Team up with us to make a healthier
            and happier world. </p>
    </div>

    <div id="imageList" class="row">
        <div class="col-md-4" id="aboutPgAnimalImgs">
            <img src="./images/homescreenCat2.jpg" alt="kitten on chair">
        </div>
        <div class="col-md-4" id="aboutPgAnimalImgs">
            <img src="./images/homescreenDog1.jpg" alt="dog looking through fence">
        </div>
        <div class="col-md-4" id="aboutPgAnimalImgs">
            <img src="./images/homescreenDog5.jpg" alt="puppy in arms">
        </div>
    </div>

    <div>
        <h1 class="subhero">Our Mission:</h1>
        <p id="about">
            Pick-a-Pet is a unique company with a mission: <strong>Saving Pets & Enriching Lives.</strong> We connect people
            with centers close to their home that offer pet adoptions, pet supplies, grooming and dog daycare, all in one
            location. Our goal is to help reduce pets being euthanized in shelters and offer a way for customers to be a
            part of our mission. Join us in making a difference for pets and pet owners!</p>
    </div>

    <div class="text-center">
        <h3 class="subhero">Contact Us Today!</h3>
        <ul id="contactInfo">
            <li><strong>Phone: </strong>310-220-2250</li>
            <li><strong>Email: </strong><a href="mailto:pickpets@care.com">pickpets@care.com</a></li>
            <li><strong>Address: </strong>2625 Manhattan Beach Blvd, Suite 110, Redondo Beach CA 90278</li>
        </ul>
    </div>

    <div>
        <blockquote>
            <h5> "Helping vulnerable animals and keeping pets in safe and loving homes requires a commitment from all of us —
                advocates, pet owners, shelters, leaders, and entire communities. When we work together under a common cause,
                we’re both saving lives and elevating our society and its laws to ensure cruelty victims and other at-risk
                animals receive the protection and care they deserve."</h5>
            <h6 id="signature"> -- Matthew Bershadker, ASPCA President & CEO</h6>
        </blockquote>
    </div>

    <button ng-hide="true" ng-click="topFunction()" id="myBtn" title="Go to top">Top</button>
</div> <!--end of container-->